[user]
	email = frederikgalle@fastmail.fm
	name = Frederik Galle
[color]
	ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  unchanged = cyan
[alias]
	co = checkout

  # Add to staging area
  a  = add
  ap = add --patch

  # Commit
	c  = commit --verbose
  cm = commit -m
  amend = commit --amend --verbose

  # Short and verbose statuses
  s  = status --short --branch
  sv = status

  # Overview of branches
	b   = branch
  bl  = branch --verbose
  bla = branch --verbose --all

  # Overview of history
  ls = log --pretty=format:"%C(yellow)%h\\ %Cred%d\\ %Creset%s\\ %C(bold\\ blue)<%cn>%Creset" --decorate --graph
  lsd = log --pretty=format:"%C(yellow)%h\\ %Cgreen%ad%Cred%d\\ %Creset%s\\ %C(bold\\ blue)<%cn>%Creset" --decorate --graph --date=short
  ll = log --pretty=format:"%C(yellow)%h\\ %Cred%d\\ %Creset%s\\ %C(bold\\ blue)<%cn>%Creset%n" --decorate --numstat --graph
  lld = log --pretty=format:"%C(yellow)%h\\ %Cred%d\\ %Creset%s\\ %Cgreen(%ad)\\ %C(bold\\ blue)<%cn>%Creset%n" --decorate --graph --numstat --date=short

  # Unstage the changes to some files
  unstage = reset HEAD --

  # Undo the last commit
  undo = reset "HEAD^"

  # Show files that are being ignored due to git update-index --assume-unchanged
  ignored = !git ls-files -v `git rev-parse --show-toplevel` | grep "^[a-z]"

  # list aliases
  alias = "!git config -l | grep alias | cut -c 7-"
[core]
	editor = vim
	quotepath = false
	excludesfile = ~/.gitignore
	autocrlf = input
[push]
	default = upstream
[help]
	autocorrect = 1
[diff]
	algorithm = patience
